@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: NeueHaasDisplayBlack;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBlack.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayBold;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayLight;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayMedium;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayThin;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayThin.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayXThin;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXThin.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayRoman;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf");
  }
}

.border_end {
  border-inline-end: none !important;
}

.side_bar {
  max-width: 280px !important;
  min-width: 280px !important;
  width: 280px !important;
}

.flex-bottom {
  border-bottom: 1px solid #a1b8ff33 !important;
}

.card_radius {
  border-radius: 24px;
  border: none !important;
}

.badge_component {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.invoice_activities {
  border-radius: 40px;
  border: none !important;
}

.ant-card-head {
  border-bottom: none !important;
}

.invoice_pill {
  padding: 7.5px 12px 7.5px 12px;
}

.ant-modal-content {
  border-radius: 40px !important;
  padding: 30px 40px !important;
  overflow-y: scroll !important;
}

.ant-modal-body {
  /* overflow-y: scroll !important; */
  /* height: 600px !important; */
}

.card_border {
  border-radius: 40px !important;
}

.liner::after {
  content: "";
  border: 1px solid red;
}
/*     inset-inline-start: 23px; */

.ant-steps-item-tail {
  inset-inline-start: 23px !important;
}

.ant-modal {
  position: relative;
}

/* .custom-modal .ant-modal-content {
  position: relative !important;
  padding-top: 20px;
} */

.custom-close {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 20px;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.custom-dropdown .ant-dropdown-menu {
  border-radius: 24px !important;
  padding: 16px !important;
  border: 1px solid #e3e6ef !important;
  padding-bottom: 12px !important;
}

.custom-dropdown .ant-dropdown-menu-item {
  margin-bottom: 4px !important;
}

.custom-menu .ant-menu-item-selected {
  background-color: #fff !important;
  border-radius: 32px !important;
  color: #4f4f4f !important;
  padding: 14px 16px 14px 16px !important;
  border: 4px solid #e3e6ef !important;
  height: 52px !important;
}

.custom-menu .ant-menu-item {
}
