@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: NeueHaasDisplayBlack;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBlack.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayBold;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayLight;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayMedium;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayThin;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayThin.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayXThin;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXThin.ttf");
  }
  @font-face {
    font-family: NeueHaasDisplayRoman;
    src: url("/src/assets/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf");
  }
}

.border_end {
  border-inline-end: none !important;
}

.side_bar {
  max-width: 280px !important;
  min-width: 280px !important;
  width: 280px !important;
}

.flex-bottom {
  border-bottom: 1px solid #a1b8ff33 !important;
}

.card_radius {
  border-radius: 24px;
  border: none !important;
}

.badge_component {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.invoice_activities {
  border-radius: 40px;
  border: none !important;
}

.ant-card-head {
  border-bottom: none !important;
}

.invoice_pill {
  padding: 7.5px 12px 7.5px 12px;
}
